---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('wuwei');
---
<Layout>
    <h1>My posts</h1>
    <ul>
      {posts.map(post => (
        <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
      ))}
    </ul>
</Layout>
