@tailwind base;
@tailwind components;
@tailwind utilities;


@layer  base{
    /* 阿里巴巴东方大楷字体*/
    @font-face {
        font-family: "DaKai";font-weight: 400;src: url("/fonts/AlimamaDongFangDaKai-Regular.woff2") format("woff2"),
        url("/fonts/AlimamaDongFangDaKai-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}